* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
html,
body {
	background: black;
	position: relative;
	width: 100%;
	height: 100%;
}

.centerBox {
	display: flex;                /*设置为flex布局*/
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	color: white;
}
.center-list{
	display: flex;                /*设置为flex布局*/
	width: 100%;
	margin: 0 10%;
	}
.centerBody{
	width: 100%;
	text-align: center;
	margin-top: 0%;
}
.centerBody img{
	margin: 0 auto;
}
.btn-p{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;                /*设置为flex布局*/
}
.btn-p a{
	font-size: clamp(0.75rem, 0.636rem + 0.57vw, 1.063rem);
	color: #FFFFFF;
	padding: 10px 15px;
	border-radius:10px;
  	margin: 0 7px;
  	width: 100%;
	background: rgba(29, 29, 29, 0.5);
	border:1px solid rgba(89, 129, 183, 0.2);
}
.btn-p a:hover{
	color: #FFFFFF;
	background: -webkit-linear-gradient(left, #19c3ff, #0093ff);
    	background: -o-linear-gradient(left, #19c3ff, #0093ff);
    	background: -moz-linear-gradient(left, #19c3ff, #0093ff);
    	background: linear-gradient(to left top, blue, red);
}
.footer{
	position: fixed;
	bottom: 20px;
	width: 100%;
}
.center-footer{
	width: 70%;
	margin: 0 15%;
}
.footer .banquan{
	text-align: center;
	font-size: 12px;
	color: #6a7179;
}
@media screen and (max-width: 950px) {
	
	.centerBody{
		margin-top: 2%;
	}
	.centerBody img{
		width: 100%;
	}
	.center-list {
	    width: 100%;
	    margin: 0 2%;
	}
}
